cdocumenteditor#edt_inquiry_inquiry cmessagespanel{
	-moz-binding: url(binding:modules.inquiry.cInquiryEditor#cMessagesPanel);
}
cdocumenteditor#edt_inquiry_inquiry cmessagespanel section.message{
	-moz-binding: url(binding:modules.inquiry.cInquiryEditor#messageSection);
}
wdialog[template="Response"]{
	-moz-binding: url(binding:modules.inquiry.cInquiryEditor#cResponseDialog);
}
cdocumenteditor#edt_inquiry_inquiry cresumesection[sectionname="responsedata"]{
	-moz-binding: url(binding:modules.form.cFormEditor#cResponseDataResumeSection);
}