<h1 change:h="">${inquiry/getLabel}</h1>

<dl class="inline-items">
	<dt>${trans:m.inquiry.frontoffice.inquiry-date,ucf}</dt>
	<dd>${datetime:inquiry/getUICreationdate}</dd>
	<dt>${trans:m.inquiry.frontoffice.inquiry-status,ucf}</dt>
	<dd>${inquiry/getProcessingStatusLabelAsHtml}</dd>
</dl>

<h2 change:h="">${trans:m.inquiry.frontoffice.inquiry-data,ucf}</h2>

<dl class="inline-items">
	<tal:block tal:repeat="field inquiry/getResponseData">
		<dt>${field/label}</dt>
		
		<dd tal:condition="field/mailValue">${field/mailValue}</dd>
		<tal:block tal:condition="not: field/mailValue">
			<dd tal:condition="field/value">${field/value}</dd>
			<dd tal:condition="not: field/value">-</dd>
		</tal:block>
	</tal:block>
</dl>

<h2 change:h="">${trans:m.inquiry.frontoffice.write-messages-for-inquiry,ucf}</h2>

<tal:block tal:condition="not:inquiry/isClosed">
	<tal:block tal:condition="contentsPreview">
		<h3 change:h="">${trans:m.inquiry.frontoffice.message-preview,ucf}</h3>
		<ul class="document-list">
			<li class="from-author ${alternateclass:previewIndex}">
				<p>${trans:m.inquiry.frontoffice.message-sent-by-author,ucf}<span class="separator"> - </span>${datetime:}</p>
				<blockquote>${contentsPreview}</blockquote>
			</li>
		</ul>
	</tal:block>
	
	<form change:form="" method="post">
		<fieldset>
			<legend class="h-3">${trans:m.inquiry.frontoffice.message-edition,ucf}</legend>
			<ul change:messages=""></ul>
			<ul change:errors=""></ul>	
			<ol>
				<li>
					<textarea change:bbcodeinput="name contents" module-profile="inquiry" labeli18n="m.inquiry.frontoffice.your-message"></textarea>
				</li>
			</ol>
			<p class="buttons">
				<input type="hidden" value="${inquiry/getId}" name="inquiryParam[cmpref]" />
				<input change:submit="labeli18n m.inquiry.frontoffice.preview" name="preview" />
				<input change:submit="labeli18n m.inquiry.frontoffice.send" name="send" />
				<tal:block tal:repeat="task tasks">
					<input change:submit="" label="${task}" name="task" />  
				</tal:block>
			</p>
		</fieldset>
	</form>
</tal:block>

<p class="normal" tal:condition="inquiry/isClosed">${trans:m.inquiry.frontoffice.no-new-message-on-closed-inquiries,ucf}</p>

<h2 change:h="">${trans:m.inquiry.frontoffice.messages-for-inquiry,ucf}</h2>

<tal:block tal:condition="messages">
	<ul class="document-list">
		<tal:block tal:repeat="message messages">
			<li class="from-author ${alternateclass:messageIndex}" tal:condition="not: message/getIsFromStaff">
				<p>${trans:m.inquiry.frontoffice.message-sent-by-author,ucf}<span class="separator"> - </span>${datetime:message/getUICreationdate}</p>
				<blockquote>${message/getContentsAsHtml}</blockquote>
			</li>
			<li class="from-staff ${alternateclass:messageIndex}" tal:condition="message/getIsFromStaff">
				<p>${trans:m.inquiry.frontoffice.message-sent-by-staff,ucf}<span class="separator"> - </span>${datetime:message/getUICreationdate}</p>
				<blockquote>${message/getContentsAsHtml}</blockquote>
			</li>	
		</tal:block>
	</ul>
	<tal:block change:paginator="messages"/>
</tal:block>
<p class="normal" tal:condition="not: messages">${trans:m.inquiry.frontoffice.no-message-for-this-inquiry,ucf}</p>