<h2 change:h="">${inquiry/getLabel}</h2>

<ul class="normal">
	<li><strong change:translate="modules.inquiry.frontoffice.Inquiry-dateLabel"></strong> <tal:block change:datetime="inquiry/getCreationdate" /></li>
	<li><strong change:translate="modules.inquiry.frontoffice.Inquiry-statusLabel"></strong> ${inquiry/getProcessingStatusLabelAsHtml}</li>
</ul>

<h3 change:h="" change:translate="modules.inquiry.frontoffice.Inquiry-data"></h3>

<ul class="normal">
	<tal:block tal:repeat="field inquiry/getResponseData">
		<li tal:condition="field/value"><strong>${field/label} :</strong> ${field/value}</li>
		<li tal:condition="not: field/value"><strong>${field/label} :</strong> -</li>
	</tal:block>
</ul>

<h3 change:h="" change:translate="modules.inquiry.frontoffice.Write-messages-for-inquiry"></h3>

<tal:block tal:condition="not:inquiry/isClosed">
	<tal:block tal:condition="contentsPreview">
		<h4 change:h="" change:translate="modules.inquiry.frontoffice.Message-preview"></h4>
		
		<ul>
			<li class="from-author">
				<p><strong><tal:block change:translate="modules.inquiry.frontoffice.Message-sent-by-author" /> <tal:block change:datetime="" /></strong></p>
				<blockquote>${contentsPreview}</blockquote>
			</li>
		</ul>
	</tal:block>
	
	<div class="messages-form">
		<h4 change:h="" change:translate="modules.inquiry.frontoffice.Message-edition"></h4>
	
		<ul change:messages=""></ul>
		<ul change:errors=""></ul>	
		<form change:form="" method="post">
			<ol>
				<li>
					<label for="inquiry_inquiry_contents" change:translate="modules.inquiry.frontoffice.Your-message"></label>
					<textarea change:richtextinput="editor bbcode" name="contents" labeled="false"></textarea>
				</li>
				<li class="buttons">
					<input type="hidden" value="${inquiry/getId}" name="inquiryParam[cmpref]" />
					<input change:submit="label &modules.inquiry.frontoffice.Preview;" class="button" name="preview" />
					<input change:submit="label &modules.inquiry.frontoffice.Send;" class="button" name="send" />
					<!-- input change:submit="label &modules.inquiry.frontoffice.Close;" class="button" name="close" /-->
					<tal:block tal:repeat="task tasks">
						<input change:submit="" label="${task}" class="button" name="task" />  
					</tal:block>
				</li>
			</ol>
		</form>
	</div>
</tal:block>

<p class="normal" tal:condition="inquiry/isClosed" change:translate="modules.inquiry.frontoffice.No-new-message-on-closed-inquiries" />

<h3 change:h="" change:translate="modules.inquiry.frontoffice.Messages-for-inquiry"></h3>

<ul tal:condition="messages">
	<tal:block tal:repeat="message messages">
		<li class="from-author" tal:condition="not: message/getIsFromStaff">
			<p><strong><tal:block change:translate="modules.inquiry.frontoffice.Message-sent-by-author" /> <tal:block change:datetime="message/getMessageDate" /></strong></p>
			<blockquote>${message/getContentsAsHtml}</blockquote>
		</li>
		<li class="from-staff" tal:condition="message/getIsFromStaff">
			<p><strong><tal:block change:translate="modules.inquiry.frontoffice.Message-sent-by-staff" /> <tal:block change:datetime="message/getMessageDate" /></strong></p>
			<blockquote>${message/getContentsAsHtml}</blockquote>
		</li>	
	</tal:block>
</ul>

<tal:block change:paginator="messages"/>

<p class="normal" tal:condition="not: messages" change:translate="modules.inquiry.frontoffice.No-message-for-this-inquiry" />